@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
} 

.box {
  margin-top: 20px;
}

.q2_contents {
  width: 940px;
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.ballon {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.q2_text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.lights {
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}

img {
  vertical-align: top; /*下の余白が消えない*/
}



/* 回答はここに書いてね */


/*
##

1.下の写真のmarginが違う
  -修正致しました。
  
*/