@charset "UTF-8";

/* 回答はここに書いてね */

.box {
  margin-top: 20px;
}

.graph {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.graph th ,.graph td {
  padding: 10px 0;
  border: solid #dedede 1px;
}

.graph th {
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
  color: white;
}

.graph tbody td {
  font-size: 16px;
  line-height: 22px;
  color: black;
}

.graph tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.graph tbody tr:last-child {
  border-top: dashed #000 2px;
}


