@charset "UTF-8";

/* 回答はここに書いてね */

.q6_text {
  text-align: center;
}

p.text {
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.margin {
  width: 90px;
  padding: 10px 0;
  margin: 0 auto;
  background-color: #e6f2ff;
  text-align: center;
}






.table {
  display: table;
}

.q6_table {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

p.table {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.flex {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}






.left-box, .right-box {
  position: relative;
}

p.left, p.right {
  position: absolute;
  text-align: center;
}

.left-box p {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.right-box p {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}






/* 回答はここに書いてね */